[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "deps/detours"]
	path = deps/detours
	url = https://github.com/microsoft/Detours.git
[submodule "deps/red4ext.sdk"]
	path = deps/red4ext.sdk
	url = https://github.com/Cyberpunk2077-Mods/RED4ext.SDK.git
[submodule "deps/cpcmake"]
	path = deps/cpcmake
	url = https://github.com/Cyberpunk2077-Mods/Cmake.git
[submodule "deps/archive_xl"]
	path = deps/archive_xl
	url = https://github.com/Cyberpunk2077-Mods/ArchiveXl.git
[submodule "deps/red_lib"]
	path = deps/red_lib
	url = https://github.com/Cyberpunk2077-Mods/RedLib.git
